<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1>Página Não Encontrada.</h1>
        <h2>A página solicitada não foi encontrada.</h2>
    </hgroup>
    <div>
        <p><a class="btn btn-primary" href="/Home">Voltar</a></p>
    </div>
</body>
</html>
