@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Cadastro AspNetMVC</h1>
    <p class="lead">Sistema de cadastro para Pessoas Física e Pessoas Jurídicas</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Pessoas Físicas</h2>
        <p>É possível cadastrar:</p>
        <p>- CPF (obrigatório)</p>
        <p>- Nome (obrigatório)</p>
        <p>- Sexo, Data de Nascimento, RG</p>
        <p>- Endereço</p>
        <p>- Telefones</p>
        <p>- E-mail</p>
        <p><a class="btn btn-primary" href="/PessoaFisica">Começar &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Pessoas Jurídicas</h2>
        <p>É possível cadastrar:</p>
        <p>- CNPJ (obrigatório)</p>
        <p>- Razão Social (obrigatório)</p>
        <p>- Nome Fantasia</p>
        <p>- Endereço</p>
        <p>- Telefones</p>
        <p>- E-mail</p>
        <p><a class="btn btn-primary" href="/PessoaJuridica">Começar &raquo;</a></p>
    </div>
</div>